html {
    background:#fff;
    font-family:sans-serif;
}
body {
    margin:0
}
#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}
header {
    border-bottom:1px solid #aaa;
}
h1 {
    display:inline-block;
}
h1 span {
    color: green;
}
header p {
    padding-left:30px;
    display:inline-block;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}
dt {
    grid-column-start: 1;
}
dd {
    grid-column-start: 2;
    font-weight:bold;
}
dl dd:not(:first-of-type), dl dt:not(:first-of-type) {
    display:none;
}
#win, #lose {
    display:none;
}

input {
    font-size:1.2em;
}
#guess_entry {
    width:75%;
}
#guess {
    width:20%;
}
.correct_company_name {
    font-style: italic;
}

footer {
    margin-top:30px;
    border-top:1px solid #aaa;
}
#disclaimer {
    font-size:0.7em;
}