html {
    background:#fff;
    font-family:sans-serif;
}
body {
    margin:0
}
#container {
    max-width: 600px;
    margin: 0 auto;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    font-size:1.2em;
}
dt {
    grid-column-start: 1;
}
dd {
    grid-column-start: 2;
    font-weight:bold;
}
.marketcap, .sector, .founded, .added {
    display:none;
}

input {
    font-size:1.2em;
}
#company {
    width:75%;
}
#guess {
    width:23%;
}

footer {
    margin-top:30px;
    border-top:1px solid #aaa;
}
#disclaimer {
    font-size:0.7em;
}